.mouse {
  width: 30px;
  height: 50px;
  border: 2px solid white;
  border-radius: 60px;
  position: relative;
}

.mouse::before {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  border-radius: 50%;
  opacity: 1;
  animation: wheel 2s infinite;
  -webkit-animation: wheel 2s infinite;
}

@keyframes wheel {
  to {
    opacity: 0;
    top: 30px;
  }
}

@-webkit-keyframes wheel {
  to {
    opacity: 0;
    top: 30px;
  }
}

@media only screen and (max-width: 768px) {
  .mouse {
    width: 25px;
    height: 45px;
    border: 1px solid white;
  }

  .mouse::before {
    content: "";
    width: 10px;
    height: 10px;
  }
}
